
:root{
   
    --color1: #F4D7C5;
    --color2: #EC8C50;
    --color3: #312B28;
    --color4: #6018B7;
   

}


* {
    box-sizing: border-box;
    margin: 0;
}
body{
   /* font-family: "Archivo Narrow", sans-serif;*/
   font-family: "Comic Neue", cursive;
   background-color:var(--color3);
   margin: 10px;
}
span {
    font-family: "Archivo Narrow", sans-serif;
    text-shadow: #aaa;
    font-size: large;
}
h1{
   
    margin-top: 2rem;
}

.Año {
    float: right;
    color:gray;
}

/* Header */
.header {
    padding: 30px;
    text-align: center;
    background-color:var(--color2);
         
}
.header h1 {
    font-size: 40px;
    font-family:"Archivo Narrow", sans-serif;
}

/* Top Nabigation bar */
.topnav {
    background-color:var(--color1);
    position: sticky;
    top:0;
    
}
.topnav a {
    
    
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: white;
    
}
.topnav a:hover {
    /*cambia color al pasar por encima cursor*/ 
    background-color: gray;
    color:black
}

.leftcolumn {
    float:left;
    width: 70%;
   
}
.rightcolumn {
    float: left;
    width: 30%;
    background-color:var(--color3);
    padding-left: 20px;
    
}
.rightcolumn p {
    text-align: justify;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}


.foto img {
    width: 100%;
}
.card {
    background-color: var(--color1);
    padding: 20px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.icono-link  {
    
   
}
.github img{
    width: 40px;
    height: 40px; 
}
.github :hover{
    width: 45px;
    height: 42px; 
}
.linkedin img{
    width: 30px;
    height: 30px;
    
}
.linkedin:hover img{
    width: 35px;
    height:35px;
    
}
.wssap img {
    width: 40px;
    height: 40px;
}
.wssap :hover img {
    width: 45px;
    height: 42px;
}

.icono-link{
    display:flex;
    align-items: center;
    justify-content: space-around;

}